@model List<HackerNewsAPI.Models.BestStoryInfo>
<div>
    <table id="stories">
        <thead>
        <tr>
            <th>Story ID</th>
            <th>Author</th>
            <th>Title</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var story in Model)
        {
            <tr>
                <td>@story.Id</td>
                <td>@story.By</td>
                <td>@story.Title</td>
            </tr>
        }
        </tbody>
    </table>
</div>

<script language="javascript">

    $(document).ready(function(){
        $('#stories').DataTable();
    });
</script>